<div class="row">
    <h2>Add New</h2>
</div>

<div class="row">
    <form name="newStand">
        <div>

            <label for="vendor_name">Vendor Name: </label>
            <input type="text" placeholder="Vendor..." ng-model="vendor_name" id="vendor_name"/>

            <label for="farm_name">Farm Name: </label>
            <input type="text" placeholder="Farm..." ng-model="farm_name" id="farm_name" />

            <label for="location">Location: </label>
            <input type="text" placeholder="Address..." ng-model="location" id="location" />

            <label for="city">City: </label>
            <input type="text" placeholder="City..." ng-model="city" id="city" required />

            <label for="state">State: </label>
            <input type="text" placeholder="State..." ng-model="state" id="state" required />

            <label for="zip">Zip: </label>
            <input type="number" placeholder="Zip..." ng-model="zip" id="zip" required />

            <label for="last_seen">Last Spotted: </label>
            <input type="date" placeholder="Last Spotted..." ng-model="last_seen" id="last_seen" />

            <label for="website">Website: </label>
            <input type="text" placeholder="www.website.com" ng-model="website" id="website" />

            <label for="certification"></label>
            <input type="text" ng-model="certification" id="certification" />

            <label for="phone">Phone: </label>
            <input type="text" placeholder="(xxx)xxx-xxxx" ng-model="phone" id="phone" />

            <label for="description">Description: </label>
            <input type="text" placeholder="About..." ng-model="description" id="description" />

            <!--PRODUCT OPTIONS-->
            <div id="productList">
                <h4>Items</h4>
                <label ng-repeat="item in produceTypes">
                    <input type="checkbox" checklist-model="selectedProducts.type" checklist-value="item.id" />
                    {{item.label}}
                </label>
                <!--TESTING-->
                {{selectedProducts.type}}
            </div>
            <!--PAYMENT CHECKBOXES-->
            <div id="paymentChecklist">
                <h4>Payment Options</h4>
                <label ng-repeat="method in paymentTypes">
                    <input type="checkbox" checklist-model="selectedPayment.type" checklist-value="method.payment" />
                    {{method.label}}
                </label>
                <!--FOR TESTING:-->
                {{selectedPayment.type}}
            </div>
        </div>

        <button class="btn btn-default" ng-click="newStand.$invalid ? alert('Please complete required fields') : submitNew()" id="submit-button" >Submit</button>
        <button class="btn btn-default" ng-click="reset()" id="cancel-button" >Cancel</button>
    </form>

    <!--<toast></toast>-->


</div>