<div class="jumbotron">
    <h1>Find a Farm Stand</h1>
    <p>Add more text here to talk about how awesome this is.</p>
</div>

<div class="row">
    <form>

    <label for="searchBox">What's your zip code? </label>
    <input type="text" id="searchBox" ng-model="searchBox" placeholder="search" />

    <!--<select -->
            <!--ng-model="searchBy" ng-options="find as find.label for find in searchTypes track by find.type">-->
    <!--</select>-->
    <button class="btn btn-default" ng-click="search()" id="searchButton">Find</button>

    </form>
</div>


<div class="results">

<uib-accordion close-others="oneAtATime">
    <uib-accordion-group heading="{{vendor.vendor_name}}" ng-repeat="vendor in databaseResults">
        <p>{{vendor.location}}</p>
        <button type="button" class="btn btn-default btn-sm" ng-click="mapView()">Map</button>
        <p>{{vendor.farm_name}}</p>
        <p>{{vendor.last_seen | date}}</p>
        <p>{{vendor.products}}</p>
        <p>{{vendor.description}}</p>
    </uib-accordion-group>
</uib-accordion>

<uib-accordion close-others="oneAtATime">
    <uib-accordion-group heading="{{market.marketname}}" ng-repeat="market in apiResults">
        <p>More Info with better api query</p>
    </uib-accordion-group>
</uib-accordion>



</div>