<h1>Map View</h1>

<!--<iframe src="{{detail.GoogleLink}}"-->
        <!--width="600"-->
        <!--height="450"-->
        <!--frameborder="0"-->
        <!--style="border:0"-->
        <!--allowfullscreen>-->
<!--</iframe>-->
<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2697.010338363119!2d-94.88597604906406!3d47.47022797907372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b82dcf2aa31c8b%3A0x15093da68b1db5b5!2sBemidji+Cooperative+Association!5e0!3m2!1sen!2sus!4v1458538916668"
        width="600"
        height="450"
        frameborder="0"
        style="border:0"
        allowfullscreen>

</iframe>
</div>
